<div class="bg-white border-b border-gray-200 sticky top-0 z-50" th:fragment="survey-nav">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <div class="text-2xl font-['Pacifico'] text-primary mr-8">logo</div>
                <div class="flex space-x-1">
                    <button class="px-4 py-2 text-gray-500 hover:text-gray-700 font-medium">
                        <a href="/home">
                            首页
                        </a>
                    </button>
                    <button th:classappend="${requestURI == '/survey/list' ? 'px-4 py-2 text-primary border-b-2 border-primary font-medium' : 'px-4 py-2 text-gray-500 hover:text-gray-700 font-medium'}">
                        <a href="/survey/list">
                            问卷列表
                        </a>
                    </button>
                    <!--                    <button-->
                    <!--                            th:if="${loginMember.isAdmin}"-->
                    <!--                            th:classappend="${requestURI == '/survey/make' ? 'px-4 py-2 text-primary border-b-2 border-primary font-medium' : 'px-4 py-2 text-gray-500 hover:text-gray-700 font-medium'}"-->
                    <!--                    >-->
                    <!--                        <a href="/survey/make">-->
                    <!--                            创建问卷-->
                    <!--                        </a>-->
                    <!--                    </button>-->
                </div>
            </div>
            <div class="flex items-center space-x-4">
                <!--                //fixme 추가본-->
                <button id="menu-toggle" class="sm:hidden text-gray-600">
                    <i class="ri-menu-line text-2xl"></i>
                </button>
                <!--                <div-->
                <!--                        class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-100 text-gray-600"-->
                <!--                >-->
                <!--                    <i class="ri-notification-3-line"></i>-->
                <!--                </div>-->
                <div class="w-10 h-10 flex items-center justify-center rounded-full bg-primary text-white">
                    <span class="text-sm font-medium" th:text="${loginMember.memberName.substring(0,1)}">김</span>
                </div>
            </div>
        </div>
    </div>
</div>
