@font-face {
    font-family: 'SourceHanSansCN';
    src: url('/static/fonts/SourceHanSansSC-Regular-2.woff') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'SourceHanSansCN', 'Noto Sans KR', system-ui, sans-serif;
}